*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 44px;
    font-weight: 800;
}
.banner{
    background-color: #FCEEF1;
    padding: 30px 30px 0px;
    margin: 0 auto;
}
.banner .container{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.banner .leftItem{
    display: flex;
    flex-direction: column;
    padding: 109px;
}
.rightItem img{
    width: 420px; 
    margin-right: 67px;  
}
.leftItem h1{
        font-weight: 900px;
}

.leftItem span{
    padding: 15px 0 15px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
}
.leftItem button,.hotTitle button{
    width: 104px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border:none;
    background-color: #E55473;
    color:white
}
.feature{
    margin: 0 auto;
    padding:102px 0;
}
.contentTitle{
    text-align: center;
    width: 39%;
    margin: 0 auto;
    margin-bottom: 10px;
}
       
.contentTitle h2{
    margin-bottom: 16px;
    
}
.contentTitle p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;    
}
.contentItems{
    margin: 37px;
}
.contentItems .container{
    display: flex;
    gap:20px;
    justify-content: center;
    text-align: center;
}
.itemImg{
    background-color: #F1DDE7;
    border-radius: 150px 150px 0 0;
    height: 370px;
    width: 300px;
    overflow: hidden;
}
.itemImg img{
    width: 70%;
    padding-top: 28%;
}
.itemImg .itemsLastImg{
    padding-top: 18%;
}
.itemName{
    margin-top: 20px;
    text-decoration: underline;
    font-weight: 600;
}
.service,.hotDeals,.instagram{
    margin: 0 auto;
    background-color: #F4F4F4;
    padding: 20px 30px;
    width: 68%;
}
.service .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.hotDeals{
    background-color: #ffffff;
    margin-top: 103px;
    margin-bottom: 103px;
    
}
.hotDealsItems{
    display: flex;
    justify-content: space-between;
    
    
}
.hotTitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-right: 60px; 
    
}
.hotDeals p{
    color: rgba(39, 39, 39, 0.60);
    
}
.instaAll{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.instaTitle{
    margin: 0 auto;
    width: 54%;
}
.instaTitle h2{
    margin-bottom: 18px;
    
}
.instaTitle p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.instaItems{
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    gap:10;
    
}
.instaItems img{
   width: 93%;
}
.instagram{
    background-color: #ffffff;
}
.subscribe{
    width: 70%;
    margin: 0 auto;
    padding: 15px;
}
.subBackImg{
    background-image: url('./img/Rectangle_9.png');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.subBackImg .inputBox{
    display: flex;
    justify-content: center;
}
.subtitle {
    text-align: center;
    width: 39%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.subtitle h2{
    margin-top:80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    width: 100%;
    font-style: normal;
    line-height: 30px;
} 
.subtitle p{
    margin-top:80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    
    
}
.inputBox input{
    margin-top:100px;
    width: 45%;
    outline:none;
    border: none;
    height: 36px;
    padding:10px;
    padding-left: 18px;
    margin-top:100px;
}
.inputBox button{
    outline:none;
    border: none;
    height: 43px;
    padding: 4px 18px;
    border-radius: 6px;
    margin-top:100px;
    background-color: #E55473;
    text-align: center;
    color: white;
    
}
.inputBox button:hover{
    background-color: #ffffff;
    color: #E55473;
    border: 1px solid #E55473;
    transition: 0.4s;
    cursor: pointer;
}
.footer{
    margin-top:80px;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 300px;
    width: 100%;
    color: white;
    text-align: center;
}
.footer p{
    width: 484px;
    
}



